body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}

button {
    margin: 5px;
}

img {
    width: 200px;
}

.escondido {
    display: none;
}

.erro {
    border: 2px solid red;
}

.sucesso {
    border: 2px solid green;
}